body {
    font-family:'Titillium Web', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

@media (prefers-color-scheme:light) {
    body {
        background-color: rgb(255, 240, 220);
        color: rgb(14, 0, 90);
    }
}

@media (prefers-color-scheme:dark) {
    body {
            background-color: rgb(14, 0, 90);
            color: white;
    }
}